<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Delete User</h1></br>
    <h1>
        <a href="/">Home Page</a>
        <a href="/inserttask">Insert new task</a>
        <a href="/listtasks">List tasks</a>
        <a href="/updatetask">Update task</a>
        <a href="/deletetask">Delete task</a>
        <a href="/deletecompleted">Delete complete</a>
        <a href="/deleteOldComplete">delete Old Complete</a>
    </h1>
    <form action="/deletetaskdata" method="POST">
        Task ID <input type="text" method="POST" name="taskID" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>