<html>
<head>
        <link rel="stylesheet" href="style.css">
</head>
        <img src="logo.png">
<body>
    <h1 style="font-size: 60px"> Welcome to Home page!!!</h1>
    <h1>
        <a href="/">Home Page</a>
        <a href="/inserttask">Insert new task</a>
        <a href="/listtasks">List tasks</a>
        <a href="/updatetask">Update task</a>
        <a href="/deletetask">Delete task</a>
        <a href="/deletecompleted">Delete complete</a>
        <a href="/deleteOldComplete">delete Old Complete</a>
    </h1>

</body>
</html>